.hero {
    cursor: pointer
}

.img-circle {
    border-radius: 30px;
}

.skill-list {
    padding: 5px;
    display: inline-block;
}

.skill {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 2px;
    cursor: pointer;
}

.hero-name {
    margin-bottom: 2px !important;
}